In [35]:
import pickle
import tensorflow
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model

In [36]:
## loading the files
with open('geography_one_hot.pkl', 'rb') as file:
    geography_one_hot = pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

model = load_model('model.h5')

In [37]:
sorted(data)

['Age',
 'Balance',
 'CreditScore',
 'CustomerId',
 'EstimatedSalary',
 'Exited',
 'Gender',
 'Geography',
 'HasCrCard',
 'IsActiveMember',
 'NumOfProducts',
 'RowNumber',
 'Surname',
 'Tenure']

In [38]:
# Example input
input_data = {
    'Age': 40,
    'Balance': 60000,
    'CreditScore': 600,
    'EstimatedSalary': 50000,
    'Gender': 'Male',
    'Geography': 'France',
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'NumOfProducts': 2,
    'Tenure': 3
}

In [39]:
# One hot encode the geography column
geo_encoded = geography_one_hot.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=geography_one_hot.get_feature_names_out(['Geography']))

c:\Users\CICTECH\anaconda3\envs\tensorflowEnv\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  "X does not have valid feature names, but"

In [40]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [41]:
input_df = pd.DataFrame([input_data])
input_df.head()

,Age,Balance,CreditScore,EstimatedSalary,Gender,Geography,HasCrCard,IsActiveMember,NumOfProducts,Tenure
0,40,60000,600,50000,Male,France,1,1,2,3

In [42]:
# One hot encode the gender column
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

In [43]:
input_df

,Age,Balance,CreditScore,EstimatedSalary,Gender,Geography,HasCrCard,IsActiveMember,NumOfProducts,Tenure
0,40,60000,600,50000,1,France,1,1,2,3

In [44]:
# Concatinate the geography dataframe into the original dataframe
input_df = pd.concat([input_df.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [45]:
input_df

,Age,Balance,CreditScore,EstimatedSalary,Gender,HasCrCard,IsActiveMember,NumOfProducts,Tenure,Geography_France,Geography_Germany,Geography_Spain
0,40,60000,600,50000,1,1,1,2,3,1.0,0.0,0.0

In [47]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
input_df = scaler.fit_transform(input_df)

In [48]:
input_df

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [49]:
prediction = model.predict(input_df)

1/1 [==============================] - 1s 573ms/step

In [50]:
prediction

array([[0.12755048]], dtype=float32)

In [51]:
prediction_prob = prediction[0][0]

In [52]:
prediction_prob

0.12755048

In [53]:
if prediction_prob > 0.5:
    print('The employee is likely to churn')
else:
    print("The employee is not likely to churn")

The employee is not likely to churn